<div data-role='header' data-position='fixed'> 
    <h1>Books</h1> 
    <a href='#back' data-icon="arrow-l" data-role="button" >Back</a>
    <a href='#home' data-icon='home'    data-role="button" data-transition="pop" data-direction='reverse'>Home</a>
</div>
 
<div data-role='content' data-theme="b">

	<div class="content-primary"> 
     
        <ul data-role="listview" data-inset="true"> 
             <li data-role="list-divider" class="listTitle" data-theme="a">Liste</li> 
             <% for (var i = 0; i < data.length; i++) { %> 
                   <% var item = data[i]; %> 
                   <li><a href='#page/livre/<%= item.id%>.html' data-transition="slide"><%= item.name %></a></li> 
             <% } %> 
        </ul>
        
        <ul data-role="listview" data-inset="true"  data-theme="a"> 
             <li data-role="list-divider" class="listTitle" data-theme="a">Liste</li> 
             <% for (var i = 0; i < data.length; i++) { %> 
                   <% var item = data[i]; %> 
                   <li><a href='#page/livre/<%= item.id%>.html' data-transition="slide"><%= item.name %></a></li> 
             <% } %> 
        </ul> 
        
        <ul data-role="listview" data-inset="true"  data-theme="b"> 
             <li data-role="list-divider" class="listTitle" data-theme="a">Liste</li> 
             <% for (var i = 0; i < data.length; i++) { %> 
                   <% var item = data[i]; %> 
                   <li><a href='#page/livre/<%= item.id%>.html' data-transition="slide"><%= item.name %></a></li> 
             <% } %> 
        </ul> 
        
        <ul data-role="listview" data-inset="true"  data-theme="c"> 
             <li data-role="list-divider" class="listTitle" data-theme="a">Liste</li> 
             <% for (var i = 0; i < data.length; i++) { %> 
                   <% var item = data[i]; %> 
                   <li><a href='#page/livre/<%= item.id%>.html' data-transition="slide"><%= item.name %></a></li> 
             <% } %> 
        </ul> 
        
         <ul data-role="listview" data-inset="true"  data-theme="d"> 
             <li data-role="list-divider" class="listTitle" data-theme="a">Liste</li> 
             <% for (var i = 0; i < data.length; i++) { %> 
                   <% var item = data[i]; %> 
                   <li><a href='#page/livre/<%= item.id%>.html' data-transition="slide"><%= item.name %></a></li> 
             <% } %> 
        </ul> 
        
        <ul data-role="listview" data-inset="true"  data-theme="e"> 
             <li data-role="list-divider" class="listTitle" data-theme="a">Liste, transition:none</li> 
             <% for (var i = 0; i < data.length; i++) { %> 
                   <% var item = data[i]; %> 
                   <li><a href='#page/livre/<%= item.id%>.html' data-transition="none"><%= item.name %></a></li> 
             <% } %> 
        </ul> 
        
        Button transition none
        <a href="#home" data-icon='home' data-role="button" data-inline="true" data-transition="none">Home</a><br/>
        <a href="#page/test1.html" data-role="button" data-inline="true" data-transition="none">test1.html</a><br/>
        <a href="#page/test/test2.html" data-role="button" data-inline="true" data-transition="none">test/test2.html</a><br/>
        
	</div> 
</div><!-- /content --> 

<div data-role="footer">
	<h4>Copyright Protection Incendie Cornouaille</h4>
</div><!-- /footer -->
        

