

<div data-role="header">
		<h1>Foo</h1>
	</div><!-- /header -->
	
<div data-role="content" >	
    <div class="content-primary"> 
        <p class="intro"> 
            <strong>Welcome.</strong> It is a simple demo to show how to
 build mobile application using JQuery Mobile, Backbone.js and Require.js . 
        </p> 
 
        <ul data-role="listview" data-inset="true" > 
             <li data-role="list-divider" class="listTitle">IT BOOKSTORE</li> 
             <li data-theme="a"><a href="#books/show/1">JavaScript</a></li> 
             <li data-theme="a"><a href="#books/show/2">NodeJS</a></li> 
             <li data-theme="a"><a href="#books/show/3">IOS</a></li> 
             <li data-theme="a"><a href="#home/test1/123">home test1 num</a></li>
             <li data-theme="a"><a href="#home/test2">home test2</a></li>
             <li data-theme="a"><a href="#home">home</a></li>
        </ul> 
    </div><!-- /content --> 
</div>

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /header -->