

<div data-role="header">
		<h1>Pic29-Mobile</h1>
	</div><!-- /header -->
	
<div data-role="content" data-theme="c">	
    <div class="content-primary"> 
        <p class="intro"> 
            <strong>Boujour.</strong> Bienvenue sur le site mobile de Pic29. 
        </p> 
 
        <ul data-role="listview" data-inset="true"> 
             <li data-role="list-divider" class="listTitle" data-theme="a">Menu</li> 
             <li data-transition="pop"><a href="#books/show/1">#books/show/1 pop</a></li> 
             <li data-transition="slide"><a href="#books/show/2">#books/show/2 slide</a></li> 
             <li data-transition="flip"><a href="#books/show/3">#books/show/3 flip</a></li>
             <li data-transition="none"><a href="#books/show/3">#books/show/3 none</a></li> 
             <li data-transition="none"><a href="#home/test1/123">#home/test1/123 none</a></li>
             <li data-transition="none"><a href="#home/test2">#home/test2 none</a></li>
             <li data-transition="none"><a href="#home">#home none</a></li>
        </ul> 
    </div><!-- /content --> 
</div>

<div data-role="footer">
	<h4>Copyright Protection Incendie Cornouaille</h4>
</div><!-- /footer -->