

<div data-role="header">
		<h1>Pic29-Mobile</h1>
	</div><!-- /header -->
	
<div data-role="content" data-theme="b">	
    <div class="content-primary"> 
        <p class="intro"> 
            <strong>Boujour.</strong> Bienvenue sur le site mobile de Pic29. 
        </p> 
 
        <ul data-role="listview" data-inset="true"> 
             <li data-role="list-divider" class="listTitle">Menu</li> 
             <li data-transition="pop"><a href="#books/show/1">Tâches pop</a></li> 
             <li data-transition="slide"><a href="#books/show/2">Clients slide</a></li> 
             <li data-transition="flip"><a href="#books/show/3">Test flip</a></li> 
             <li data-transition="slideup"><a href="#home/test1/123">Test slideup</a></li>
             <li data-transition="slidedown"><a href="#home/test2">Test slidedown</a></li>
             <li data-transition="fade"><a href="#home">Test fade</a></li>
        </ul> 
    </div><!-- /content --> 
</div>

<div data-role="footer">
	<h4>Page Footer</h4>
</div><!-- /header -->